.container {
    width: 80vw;
    margin: 20px auto 0 auto;
    padding: 14px 14px 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 3px;
    background-color: rgb(233, 242, 250);
}